
	body {
		font-family:  'Lato' sans-serif;

	}
	h1{
		font-size: 72px;
		letter-spacing: 2px;
		color: rgba(162,131,78,1);
		margin: 50px 0px 10px 0px;
	}
	h2{
		font-size: 24px;
		letter-spacing: 2px;
		color: rgba(162,131,78,1);
	}
	h3{
		letter-spacing: 2px;
		color: rgba(162,131,78,1);
	}

	.about{
		margin: 10px;
	}
	.connect{
		margin: 10px;
	}
	.center{
		text-align: center;
	}
	.top-right-pic{
		position: absolute;
		right: 10px;
		border-radius: 20px;
	}

	.size {
		width: 250px;
		border-radius: 20px;
	}

	.small{
	font-size: 14px;
	width: 230px;
	text-align: center;
	margin: 10px;
	}

	.aligned-small{
		font-size: 14px;
		text-align: center;
		height: 300px;
		border-radius: 20px;
	}

	.filler-height{
		height: 275px;
	}

	.headshot{
		width: 350px;
		padding-top: 0px;
		border-radius: 20px;
	}